<li class="options">
    <% @movies.each do |movie| %>
      <li>Movie: <%= movie.title %></li>
      <li>Day showing: <%= movie.day_of_week %></li>
      <li>Time: <%= movie.time_of_show %></li>
      <li>Price: $<%= movie.ticket_price %></li>
      <% if movie.sold_out? == true %>
        <li>SOLD OUT</li>
      <% else %>
        <% if logged_in? %>
  <li class="options">
    <a href="/orders/new">purchase ticket
      <span class="sr-only"></span>
    </a>
  </li>
<% end %>
      <% end %>
      <br></br>
    <% end %>
    <span class="sr-only"></span>
  </a>
</li>